@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html,body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    color: #3E334E;
}


.imagenes{
    filter: brightness(70%);
    padding: 20px 30px;
    height: 100vh;
    width: 60vw;
    background-color: black;
    display: grid;
    grid-template-areas:
    "a b c"
    "a b c"
    "d b e"
    "d f e"
    "d f e"
    "d f i"
    "g h i"
    "g h i";
    gap: 2%;
}

 .imagenes div:nth-child(1){
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: a;
    background-image: url(assets/Rectangle\ 6.png);
    border-radius: 10px;
}

.imagenes div:nth-child(2){
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: b;
    background-image: url(assets/Rectangle\ 7.png);
    border-radius: 10px;
}

.imagenes div:nth-child(3){
    background-repeat: no-repeat;
    grid-area: c;
    border-radius: 10px;
    background-image: url(assets/Rectangle\ 8.png);
}

.imagenes div:nth-child(4){
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-image: url(assets/Rectangle\ 11.png);
    grid-area: d;
}

.imagenes div:nth-child(5){
    background-repeat: no-repeat;
    border-radius: 10px;
    background-image: url(assets/Rectangle\ 9.png);
    grid-area: e;
}

.imagenes div:nth-child(6){
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: f;
    border-radius: 10px;
    background-image: url(assets/Rectangle\ 10.png);
}

.imagenes div:nth-child(7){
    background-repeat: no-repeat;
    grid-area: g;
    border-radius: 10px;
    background-image: url(assets/Rectangle\ 12.png);
}

.imagenes div:nth-child(8){
    border-radius: 10px;
    background-image: url(assets/Rectangle\ 13.png);
    background-repeat: no-repeat;
    grid-area: h;
}

.imagenes div:nth-child(9){
    border-radius: 10px;
    background-image: url(assets/Rectangle\ 14.png);
    background-repeat: no-repeat;
    grid-area: i;
}


.form{
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.principal{
    width: 25vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.principal h1{
    margin-bottom: 3vh;
}

.principal p{
    font-size: 18px;
}

.login{
    color: #3E334E;
    width: 25vw;
    height: 50vh;
}

.login h1{
    margin-bottom: 4vh;
}

.login label{
    margin-bottom: 2vh;
}

.login input{
    margin-top: 1vh;
    margin-bottom: 1.5vh;
    width: 90%;
    height: 6vh;
    border: 0.3px solid;
    border-radius: 10px;
    padding-left: 5px;
}

.check{
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2vh;
}

a{
    font-size: 14px;
    padding-top: 5px;
    color: #3E334E;
}

.check .checkbox{
    height: 15px;
    width: 15px;
    font-size: 14px;

}

.buttons{
    width: 90%;
    display: flex;
    gap: 15px;
}

.buttons button{
    width: 50%;
    height: 6vh;
    border-radius: 10px;
    margin-bottom: 4vh;
    border: 0;
}

.buttons button:nth-child(1){
    cursor: pointer;
    background-color: #3E334E;
    color: #fff;
}

.buttons button:nth-child(2){
    border: 1px solid #3E334E;
    background-color: #fff;
}


.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_redes{
    margin-top: 1vh;
    width: 100%;
    display: flex;
    gap: 1vw;
}

.btn_redes button{
    width: 33%;
    height: 4vh;
    background-color: #fff;
    color: #3E334E;
    border: 1px solid #3E334E;
    border-radius: 5px;
}

.bienvenido{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error{
    height: 50px;
    width: 90%;
    color: #fff;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.img_login{
    display: none;
}

@media (max-width: 426px){
    .container{
        width: 100%;
        height: 100vh;
    }

    .imagenes{
        display: none;
    }

    .form{
        width: 100vw;
        height: 100vh;
    }



.principal{
    width: 80vw;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.principal h1{
    margin-bottom: 1vh;
}

.principal p{
    font-size: 14px;
}

.login{
    color: #3E334E;
    width: 80vw;
    height: 50vh;
}

.img_login{
    display: block;
    width: 100%;
}

.img_login img{
    width: 100%;
    height: 20vh;
}

}